<div id="contentDiv" 
    style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;"
    class="body">
    <div id="qm_con_body">
        <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="opacity: 1;">
            <table cellpadding="0" cellspacing="0" width="736" style="margin-left:auto;margin-right:auto">
                <tbody>
                    <tr height="32px" width="100%"></tr>
                    <tr width="100%">
                        <td
                            style="margin:0;padding:0;height:270px;background:#f0f9ff;box-shadow:0 4px 12px 0 rgba(13,51,92,.12);border-radius:8.75px 8.75px 0 0;display:block;overflow:hidden">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr width="100%">
                                        <td width="32" height="10"></td>
                                        <td style="width:432px;padding:0;margin:0;vertical-align:top">
                                            <table cellpadding="0" cellspacing="0" width="100%" height="228">
                                                <tbody>
                                                    <tr width="100%" height="36"></tr>
                                                    <tr>
                                                        <td><div style="display:inline-block;box-sizing:border-box;text-decoration:none;cursor:pointer;width:100%"
                                                                rel="noopener" target="_blank">
                                                                
                                                                <p
                                                                    style="margin:0;padding:0;height:16px;width:300px;display:block;font-size:8px;line-height:16px">
                                                                    &nbsp;&nbsp; </p>
                                                                <h2
                                                                    style="font-family:PingFangSC-Semibold;font-size:28px;color:#000;margin:0;line-height:40px">
                                                                    名企好岗位汇聚<span
                                                                        style="color:#1473ff;display: block;">让招聘与求职更简单</span>
                                                                </h2>
                                                                <p
                                                                    style="margin:0;padding:0;height:8px;width:300px;display:block;font-size:8px;line-height:8px">
                                                                    &nbsp;&nbsp; </p>
                                                                <p
                                                                    style="margin:0;width:400px;font-family:PingFangSC-Regular;font-size:20px;color:#444;line-height:28px;display: block;">
                                                                    青春当燃 业聘不凡</p>
                                                                <p
                                                                    style="margin:0;padding:0;height:16px;width:300px;display:block;font-size:8px;line-height:16px">
                                                                    &nbsp;&nbsp; </p>
                                                                
                                                            </div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width:260px;height:260px">
                                            <img src= <%= host+"/assets/request.png" %> width="270" height="210" >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" width="736"
                style="margin-left:auto;margin-right:auto;box-shadow:0 0 15px 1px rgba(229,229,229,.6);background-image:linear-gradient(#fff 85%,rgba(250,217,197,.3) 100%);border-radius:0 0 24px 24px;overflow:hidden">
                <tbody width="100%">
                    <tr width="100%">
                        <td width="32" height="100"></td>
                        <td width="672" style="padding:0" colspan="2">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr width="100%" height="39"></tr>
                                    <tr class="top-contain" width="100%">
                                        <td width="130" height="25" style="padding:0"><img class="top-img"
                                                src=<%= host+"/assets/logo135.png" %>
                                                width="125" height="125"></td>
                                    </tr>
                                    <tr width="100%" height="24"></tr>
                                    <tr class="content-contain" width="100%"
                                        style="font-family:PingFangSC-Regular;font-size:18px;color:#000;letter-spacing:0;text-align:justify">
                                        <td style="padding:0">
                                            <table cellpadding="0" cellspacing="0" width="100%" style="padding:0">
                                                <tbody>
                                                    <tr class="content-title">
                                                        <td
                                                            style="font-family:PingFangSC-Medium;font-size:24px;line-height:33px;color:#000">
                                                            尊敬的业聘用户：</td>
                                                    </tr>
                                                    <tr width="100%" height="16"></tr>
                                                    <tr width="100%">
                                                        <td width="100%">
                                                            <p
                                                                style="font-size:24px;color:#444;line-height:33px;margin:0;padding:0">
                                                                点击链接完成邮箱绑定：<a href= <%= url %> > <%= url %> </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr width="100%" height="40"></tr>
                                                    <tr width="100%">
                                                        <td width="672"
                                                            style="background:#f4f4f4;border-radius:28px;overflow:hidden">
                                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                    <tr width="100%" height="32"></tr>
                                                                    <tr width="100%">
                                                                        <td width="28" height="12"></td>
                                                                        <td>
                                                                            <p
                                                                                style="font-family: PingFangSC-Medium;font-size: 24px;color: #757575;line-height: 33px;margin:0;padding:0;">
                                                                                邮箱说明及<span
                                                                                    style="color:#EA5E1E">温馨提示</span>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr width="100%" height="16"></tr>
                                                                    <tr width="100%">
                                                                        <td width="28" height="12"></td>
                                                                        <td width="610">
                                                                            <ul
                                                                                style="font-family: PingFangSC-Regular;font-size: 20px;text-align: justify;list-style-type:square;line-height: 28px;margin:0;">
                                                                                <li style="color: #444;"> <span
                                                                                        style="color: #757575;">如您没有通过邮件激活账户，请在<span
                                                                                            style="color:#FC9153;">"账户设置"</span>页面重新输入邮箱地址，并点击<span
                                                                                            style="color: #FC9153;">绑定邮箱</span>。</span>
                                                                                </li>
                                                                                <li style="color: #444;"> <span
                                                                                    style="color: #757575;">如您这不是您本人的操作，请<span
                                                                                        style="color:#FC9153;">忽略此邮件</span>
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="34" height="12"></td>
                                                                    </tr>
                                                                    <tr width="100%" height="32"></tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="32" height="100"></td>
                    </tr>
                    <tr width="100%" height="30"></tr>
                    <tr width="100%" height="144">
                        <td width="32" height="144" style="padding:0"></td>
                        <td width="480" height="144" style="padding:0;vertical-align:text-top">
                            <p
                                style="padding:0;margin:0;font-family:PingFangSC-Medium;font-size:20px;color:#444;letter-spacing:0">
                                联系方式 <%= callCenter %></p>
                        </td>
                        <td width="224" height="144" style="padding:0" colspan="2"><img
                                src= <%= host+"/assets/profile.png" %>
                                width="184" height="144"></td>
                    </tr>
                </tbody>
            </table>


            
        </div>
    </div><!-- -->
    <style>
        #mailContentContainer .txt {
            height: auto;
        }
    </style>
</div>