<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="margin:0;">
        <div style="-webkit-box-flex: 1;word-wrap: break-word;display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-align: center; -webkit-box-pack: center; ">
            <div style="-webkit-box-flex: 1;background-color: #37c2bc;width: 100%;padding: 30px 40px;">
                <div style="display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: justify; padding: 0 40px;">
                    <div style="-webkit-box-flex: 6;">
                        <p style="font-size: 28px;color: #fff;font-weight: 900;margin:10px 0 ;"><%= profile.name %></p>
                        <p style="font-size: 20px;color: #fff;margin:0.4rem 0 ;"><%= profile.gender%> | 生日:<%=  pdfUtil.formatYearMonth(profile.birth)  %> ｜ <%= opt[0].city_name %> | 3年工作经验 ｜ 本科</p>
                        <p style="font-size: 20px;color: #fff;margin:0;">电话: <%= profile.phone %> ｜ 邮箱: <%= profile.email %></p>
                    </div>
                    <div style="-webkit-box-flex: 1;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-pack: center;-webkit-box-align: center; ">
                        <img style="object-fit: cover;border-radius: 10px;" height="120" width="120" src=<%= pdfUtil.getImageFullUrl(profile.avatar) %>/>
                    </div>
                </div>
            </div>
            <div style="-webkit-box-flex: 1;display: -webkit-box;-webkit-box-orient: vertical;width: 100% !important;">
                <div style="margin: 2rem 4rem;border-left-width: 2px;border-left-color: #37c2bc;border-left-style: solid;"> 
                    <div style="width: 8rem;text-align: center;border-bottom: 2.8rem solid #37c2bc;border-right: 1.3rem solid transparent;"></div>
                    <div style="background-color: #37c2bc;padding: 0.5rem 1rem;font-size: 1.2rem;color:#fff;margin: -2.7rem 0 0 0;width:5rem">
                        个人优势
                    </div>
                    <div style="white-space: pre-line;line-height: 1.5;width:100% !important;padding: 0 0 1rem 1rem;color: #666;" align="left">
                        <%= profile.excellent %>
                    </div>
                </div>
            </div>
            <div style="-webkit-box-flex: 1;display: -webkit-box;-webkit-box-orient: vertical;width: 100% !important;">
                <div style="margin: 2rem 4rem;border-left-width: 2px;border-left-color: #37c2bc;border-left-style: solid;"> 
                    <div style="width: 8rem;text-align: center;border-bottom: 2.8rem solid #37c2bc;border-right: 1.3rem solid transparent;"></div>
                    <div style="background-color: #37c2bc;padding: 0.5rem 1rem;font-size: 1.2rem;color:#fff;margin: -2.7rem 0 0 0;width:5rem">
                        工作经历
                    </div>
                    <% for (let index in work) { %>
                        <div>
                            <div style="padding:1rem 2rem 0 1rem;display: -webkit-box;-webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: center; ">
                                <div style="display: -webkit-box;-webkit-box-orient: horizontal;">
                                    <div style="font-size: 1.2rem;"><%= work[index].en_name %></div>
                                    <div style="color: #666;margin-left:3rem; font-size: 1.2rem;"><%= work[index].title %></div>
                                </div>
                                <div style="color:#666"><%= pdfUtil.formatYearMonth(work[index].work_start) %> - <%= pdfUtil.formatYearMonth(work[index].work_end) %></div>
                            </div>
                            <div style="white-space: pre-line;line-height: 1.5;width:100% !important;padding: 0 0 1rem 1rem;color: #666;" align="left">
                                <%= work[index].remark %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

            <div style="-webkit-box-flex: 1;display: -webkit-box;-webkit-box-orient: vertical;width: 100% !important;">
                <div style="margin: 2rem 4rem;border-left-width: 2px;border-left-color: #37c2bc;border-left-style: solid;"> 
                    <div style="width: 8rem;text-align: center;border-bottom: 2.8rem solid #37c2bc;border-right: 1.3rem solid transparent;"></div>
                    <div style="background-color: #37c2bc;padding: 0.5rem 1rem;font-size: 1.2rem;color:#fff;margin: -2.7rem 0 0 0;width:5rem">
                        项目经历
                    </div>
                    <% for (let index in project) { %>
                        <div>
                            <div style="padding:1rem 2rem 0 1rem;display: -webkit-box;-webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: center; ">
                                <div style="display: -webkit-box;-webkit-box-orient: horizontal;">
                                    <div style="font-size: 1.2rem;"><%= project[index].pro_name %></div>
                                    <div style="color: #666;margin-left:3rem; font-size: 1.2rem;"><%= project[index].pro_title %></div>
                                </div>
                                <div style="color:#666"><%= pdfUtil.formatYearMonth(project[index].pro_start) %> - <%= pdfUtil.formatYearMonth(project[index].pro_end) %></div>
                            </div>
                            <div style="white-space: pre-line;line-height: 1.5;width:100% !important;padding: 0 0 1rem 1rem;color: #666;" align="left">
                                <%= project[index].remark %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div style="-webkit-box-flex: 1;display: -webkit-box;-webkit-box-orient: vertical;width: 100% !important;">
                <div style="margin: 2rem 4rem;border-left-width: 2px;border-left-color: #37c2bc;border-left-style: solid;"> 
                    <div style="width: 8rem;text-align: center;border-bottom: 2.8rem solid #37c2bc;border-right: 1.3rem solid transparent;"></div>
                    <div style="background-color: #37c2bc;padding: 0.5rem 1rem;font-size: 1.2rem;color:#fff;margin: -2.7rem 0 0 0;width:5rem">
                        教育经历
                    </div>
                    <% for (let index in edu) { %>
                        <div>
                            <div style="padding:1rem 2rem 0 1rem;display: flex;flex-direction: row;justify-content: space-between;align-items: center; ">
                                <div>
                                    <span style="font-size: 1.2rem;"><%= edu[index].college %></span>
                                    <span style="color: #666;padding: 0 2rem;font-size: 1rem;"><%= edu[index].major %></span>
                                    <span style="color: #666;padding: 0 2rem;font-size: 1rem"><%= pdfUtil.formatEduTitle(edu[index]) %></span>
                                </div>
                                <span style="color:#666"><%= pdfUtil.formatYearMonth(edu[index].edu_start) %> - <%= pdfUtil.formatYearMonth(edu[index].edu_end) %></span>
                            </div>
                            <div style="white-space: pre-line;line-height: 1.5;width:100% !important;padding: 0 0 1rem 1rem;color: #666;" align="left">
                                <%= edu[index].remark %>
                            </div>
                        </div>
                    <% } %>
                    
                </div>
            </div>
            <div style="display: -webkit-box;-webkit-box-orient: vertical; -webkit-box-flex:1;width: 100% !important;">
                <div style="margin: 2rem 4rem;"> 
                    <div style="text-align: center;border-bottom: 2.8rem solid #37c2bc;border-right: 1.3rem solid transparent;"></div>
                    <div style="background-color: #37c2bc !important;padding: 0.5rem 1rem;font-size: 1.2rem;color:#fff;margin: -2.7rem 0 0 0;width:7rem">
                        技能与证书
                    </div>
                    
                    <div style="padding:1rem 2rem 0 1rem;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-align: center;flex-wrap: wrap; ">
                        <div style="padding: 0.5rem;border: #37c2bc solid 3px;margin: 0.5rem 0.5rem;border-radius: 3rem;color: #666;">人力资源师证书</div>
                        <div style="padding: 0.5rem;border: #37c2bc solid 3px;margin: 0.5rem 0.5rem;border-radius: 3rem;color: #666;">ISO认证评估师</div>
                        <div style="padding: 0.5rem;border: #37c2bc solid 3px;margin: 0.5rem 0.5rem;border-radius: 3rem;color: #666;">人力资源师证书ISO认证评估师</div>
                        <div style="padding: 0.5rem;border: #37c2bc solid 3px;margin: 0.5rem 0.5rem;border-radius: 3rem;color: #666;">ISO认证评估师</div>
                    </div>
                </div>
            </div>
            <div style="display: flex;flex-direction: column; flex:1;width: 100% !important;min-height: 8rem;"></div>
        </div>
    </body>
</html>